@import url(https://fonts.googleapis.com/css?family=Open+Sans); /* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.navbar {
    margin-bottom: 0;
    background-color: whitesmoke;
    z-index: 9999;
    border: 0;
    font-family: Mont serrat, sans-serif;
    font-size: 12px !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: black !important;
}

/*Color of hover boton*/
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
    background-color: darkgrey !important;
}

/*Color of border color*/
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: black;
}

.navbar-toggle:hover {
    background: darkgrey !important;
    color: black !important;
}

/*Color of */
.navbar-toggle:focus {
    background: darkgrey !important;
    color: black !important;
}

.navbar-toggle:hover .icon-bar {
    background: whitesmoke !important;
}

.navbar-toggle:focus .icon-bar {
    background: whitesmoke !important;
}

.navbar-toggle .icon-bar {
    background: darkgrey !important;
}

video {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

#Personatges img{
    opacity: 0.1;
}

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#well #video-controls {
    position: relative;
    /*background: url(../images/controls.png) no-repeat;*/
    background-size: 100%;
    background-position: 0 47%;
    box-shadow: 0 -17px 40px -20px rgba(0,0,0,0.83);
    width: 100%;

    padding: 10px 0;

    margin-top: -60px;
    transform: translateY(-23px);
    transition: all .3s ease-in-out;
    opacity: 0;

    z-index: 300
}

#well:hover #video-controls {
    transform: translateY(-25px);
    transition: all .2s ease-in-out;
    opacity: 1;
}

#well #video-controls #video-progress {
    position: relative;
    background-color: rgba(0,0,0,0.3);
    border-top-color: black;
    width: 100%;
    height: 7px;
    top: -17px;
    cursor: pointer;
}

#well #video-controls #video-progress #actual-progress {
    background: rgba(0,0,0,0.3);
}

div#actual-progress.ui-slider-range {
    background-color: #F0E68C;
    border-color: #FFD700;
}

#actual-progress span.ui-slider-handle.ui-state-default {
    /*background: url(../images/egg.png) no-repeat scroll 50% 50%;*/
    background-size: contain;
    border: none;
    height: 20px;
    width: 20px;
}

#actual-progress.ui-slider-horizontal .ui-slider-handle {
    top: -1em;
}

#well #video-controls #video-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -5px;
}

#video-controls #video-buttons div a {
    font-size: 15px;
    line-height: 25px;
    cursor: pointer;
}

#video-buttons div a.btn {
    font-size: 15px;
    line-height: 25px;
    padding: 2px 10px;
    cursor: pointer;
    background-color: #F0E68C;
    border-color: #FFD700;
}

#control-volume-btn i {
    width: 10px;
    height: 10px;
}

#video-controls #video-buttons div a#control-play.btn {
    font-size: 30px;
    line-height: 20px;
    padding: 10px 15px;
    width: 55px;
    height: 55px;
    border-radius: 20px;
}

.fa {
    color: black;
}

#panel-tags a i.fa {
    font-size: 11px;
}

#progress-bar {
    position: absolute;
    top: -9px;
    left: 0;
}

.timer-control {
    background: #F0E68C;
    border: 1px solid #FFD700;
    border-radius: 5px;
    padding: 2px 4px;
    color: black;
    font-size: 13px;
    margin-left: 5px;
}

/*video::-webkit-media-controls {
    display:none !important;
}*/

#collapseVolume,
#collapseVelocimeter,
#collapseLanguage,
.char-info {
    position: fixed;
}

#collapseVelocimeter div #control-vel-0.active-vel,
#collapseVelocimeter div #control-vel-1.active-vel,
#collapseVelocimeter div #control-vel-2.active-vel,
#collapseLanguage div #control-esp.active-lan,
#collapseLanguage div #control-jp.active-lan,
#collapseLanguage div #control-eng.active-lan,
#collapseLanguage div #control-no-sub.active-lan {
    border: 1px solid black;
}

#lights-off, #commands-help {
    font-size: 20px;
    cursor: pointer;
}

.char-info {
    word-break: break-word;
    white-space: normal;
}

#characters-panel a {
    cursor: pointer;
}

.modal-body .container .row div {
    border: 2px solid black;
}

#main-screenshot {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    float: left;
}

/* Filters */
#filter-sepia { filter:sepia(100%); }
#filter-blur { filter:blur(2px); }
#filter-grayscale { filter:grayscale(100%); }
#filter-invert { filter:invert(100%); }
#filter-contrast { filter:contrast(50%); }
#filter-brightness { filter:brightness(50%); }
#filter-opacity { filter:opacity(50%); }
#filter-saturate { filter:saturate(50%); }

#filter-intense {
    height: 200px;
    float: right;
    margin-right: 4%;
    visibility: hidden;
}

#custom-handle-filter {
    width: 2em;
    left: -.6em;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
}

#filter-screenshot-intense {
    display: inline-block;
}

#finish-filtering-div {
    text-align: right;
}

#finish-filtering {
    margin: 10px 10px 10px 0;
    font-size: 13px;
}

input[type=range] {
    max-width: 100px;
    display: inline;
    margin-left: 5px;
}

#save-screenshot {
    top: 25vh;
}

#share-in a i {
    margin-right: 7px;
}

#feedback-shared {
    margin-top: 30px;
}

.dropdown-menu {
    padding: 10px;
    width: 250px !important;
    cursor: default;
}

#commands-help .dropdown-menu li p {
    font-size: 11px;
}

#current-filter-tag {
    margin: -10px 0 5px 10px;
}

#well #mainVid::cue {
    /*transform: translateY(0);*/
    margin-bottom: 0;
    transition: all .2s ease-in-out;
}

.modal-body h6 {
    line-height: 20px;
}

#scene-description {
    font-size: 10px;
}

#video-controls.full-screen {
    position: absolute;
    bottom: 0;
    z-index: 99999999999999999;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}